.profileImage {
  width: 200px;
  height: auto;
  margin-right: 50px;
  margin-top: 10px;
}

.intro {
  display: flex;
}

.name-intro > h1 {
  margin-top: 0;
  margin-bottom: 0;
  color: #a36060;
}

.name-intro > h2 {
  margin-top: 0;
  color: coral;
  font-weight: 400;
}

.aboutMe {
  color: #c2b8b8;
  padding-top: 5px;
  font-size: 18px;
  line-height: 28px;
}

.icons {
  margin-top: 27px;
}

.padding-icons {
  margin-right: 20px;
}

.activeIcon:active {
  color: #000;
}

#facebook {
  color: #2c4a6e;
}

#twitter {
  color: #3496e4;
}

#instagram {
  color: #a001f7;
}

#linkedin {
  color: #0a66c2;
}
