.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 5px 10px;
  background-color: #157ece;
}

.navbar a {
  color: white;
  padding: 5px 10px;
  margin: 5px 0;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar .activeMenu {
  box-sizing: border-box;
  background-color:#f7f7f7;
  color:#157ece;
  border-radius: 20px;
}
